@import "colors";

html {
  background-color: @secondaryColor;
}

h1, h2 {
  color: @textColor;
}

h3, h4 {
  color: @hintColor;
}

.candidate {
  display: flex;
  width: calc(50% - 10px);
  margin: 0 5px 10px 5px;
  max-width: 300px;

  color: @textColor;
  position: relative;

  input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;

    &:checked ~ .candidate-card {
      opacity: 1;
      box-shadow: 0 0 5px mediumpurple;
      border-color: transparent;
    }

    &:checked:not(:disabled) ~ .candidate-card {
      &:before {
        content: ' ';
        position: absolute;
        display: block;
        width: 30px;
        height: 30px;
        right: 15px;
        top: 5px;
        background: transparent url(ok.svg) no-repeat center center;
        z-index: 10;
      }
    }
  }
}

.candidate-card {
  display: flex;
  width: 100%;
  opacity: 0.7;
  border-radius: 10px;
  padding: 5px;
  overflow: hidden;
  border: 2px solid @secondaryColor;
  background-color: @bgColor;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  &__img {
    display: flex;
    flex-grow: 0;
    width: 100px;
    height: 100px;
    align-self: center;

    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      border-radius: 5px;
      display: inline-block;
      margin: auto;
    }
  }

  &__data {
    width: 100%;
    text-align: center;
  }

  &__name {
    color: inherit;
    display: block;
    font-weight: bold;
    margin-top: 10px;
  }

  &__src {
    color: @hintColor;
    font-size: smaller;
  }
}

.candidates {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-between;
  width: 100%;
  padding-top: 5px;
  margin-left: -5px;
  margin-right: -5px;
}

.candidate-group {
  border: 2px solid @secondaryColor;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  max-width: 500px;

  .candidate {
    width: 50%;
    max-width: none;
    border-right: 1px solid @secondaryColor;

    & + .candidate {
      border-left: 1px solid @secondaryColor;
      border-right: none;
    }


    input:checked ~ .candidate-card {
      box-shadow: none;
    }
  }

  .candidate-card {
    border-radius: 0;
    border: none;
  }
}